name: Docker Build and Push

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and export to Docker
        uses: docker/build-push-action@v5
        with:
          context: ./sirkel-nginx-demo-build
          load: true
          tags: nimdasx/sirkel-nginx:test

      - name: Test Docker image
        run: |
          docker run -d --name test-container -p 8080:80 nimdasx/sirkel-nginx:test
          sleep 5
          curl -f http://localhost:8080 || exit 1
          docker stop test-container
          docker rm test-container

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./sirkel-nginx-demo-build
          push: true
          tags: nimdasx/sirkel-nginx:latest
